.about-us {
  text-align: center;
  padding: 50px 20px;
}

.about-us img {
  width: 30%;
  height: auto;
}

.about-us .read-story {
  margin-top: 20px;
  padding: 10px 20px;
}

.read-story {
  background-color: var(--primary-color);
  overflow: hidden;
  transition: transform 0.3s;
  color: white;
  cursor: pointer;
}

.read-story:hover {
  background-color: white;
  color: white;
  transition: 0.5s all ease-out;
}

.read-story .icon {
  margin-left: 8px;
}

.story-content {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.story-content.show {
  opacity: 1;
  max-height: 500px; 
}

.story-content h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 2rem;
}

.story-content p {
  max-width: 40%;
  text-align: left;
  font-weight: 400;
}

.content-story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap; 
}

.content-story-container img {
  width: 40%;
  height: auto;
}

@media (max-width: 1200px) {
  .about-us img {
    width: 40%;
  }

  .story-content h2 {
    font-size: 2.5rem;
  }

  .story-content p {
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .about-us img {
    width: 50%;
  }

  .story-content h2 {
    font-size: 2rem;
  }

  .story-content p {
    max-width: 60%;
  }

  .content-story-container img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .about-us {
    padding: 30px 15px;
  }

  .about-us img {
    width: 60%;
  }

  .story-content h2 {
    font-size: 1.8rem;
  }

  .story-content p {
    max-width: 70%;
  }

  .content-story-container{
    height: 140%;
  }
  .content-story-container img {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .about-us {
    padding: 20px 10px;
  }

  .about-us img {
    width: 80%;
  }

  .story-content h2 {
    font-size: 1.5rem;
  }

  .story-content p {
    max-width: 80%;
  }

  .content-story-container img {
    display: none;
  }

  .read-story {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .about-us img {
    width: 90%;
  }

  .story-content h2 {
    font-size: 1.2rem;
  }

  .story-content p {
    max-width: 90%;
  }

  .content-story-container img {
    display: none;
  }

  .read-story {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
