.customer-reviews {
  padding: 0px 20px;
  margin-bottom: 3rem;
}
.customer-reviews-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
}
.customer-reviews-content h2 {
  font-size: 3rem;
  font-weight: 600;
  max-width: 60%;
}
.reviews {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  
.more-reviews {
  border:1px solid var(--primary-color);
  color: var(--primary-color);
  height: 3rem;
}

.more-reviews:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  transition: 0.5s all ease-out;
}
  