.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: #020617 ;
}
.logo{
  border: none;  
  font-size: 1.3rem;
  font-family: 'Poppins';
}
.nav a, .nav button {
  margin: 0 10px;
}
.chat{
  border: 1px solid var(--secondary-color);
}
.chat:hover {
  background-color: var(--secondary-color);
  color: white;
  font-size: medium;
  border: none;
  transition: 0.5s all ease-out;
}
  