.App {
  font-family: 'Poppins', sans-serif;
}

.hero {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
  position: relative;
  z-index: 1; 
  text-align: center;
}

.hero-content p {
  color: white;
  text-align: center;
  max-width: 60%;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  margin: 2% 0;
  text-align: center;
  max-width: 70%;
}

.hero-content span {
  color: var(--secondary-color);
}

.hero-buttons {
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.get-started {
  color: white;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.get-started:hover {
  background-color: var(--secondary-color);
}

.watch-features {
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
}

.mission-button {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}

.mission-button .icon {
  margin-right: 8px;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  opacity: 50%;
}

@media (max-width: 1200px) {
  .hero-content h1 {
    font-size: 4rem;
    max-width: 80%;
  }

  .hero-content p {
    max-width: 70%;
  }
}

@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }

  .hero-buttons {
    margin-top: 2rem;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {

  .hero{
    min-height: 75vh;
    padding: 0;
  }
  
  .hero-content {
    margin-left: 0;
    padding: 0 1rem;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .hero{
    min-height: 75vh;
    padding: 0;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    max-width: 90%;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .get-started, .watch-features, .mission-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {

  .hero{
    min-height: 85vh;
    padding: 0;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    max-width: 100%;
  }
}
