/* styles.css */
.App {
  font-family: 'Poppins';
}

.hero {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
  position: relative;
  z-index: 1; 
}

.hero-content p {
  color: white;
  text-align: center;
  max-width: 60%;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  margin: 2% 0;
  text-align: center;
  max-width: 70%;
}

.hero-content span {
  color: var(--secondary-color);
}

.hero-buttons {
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
}

.get-started {
  color: white;
}

.get-started:hover{
  border: none;
}

.watch-features {
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
}

.mission-button {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mission-button .icon {
  margin-right: 8px;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  opacity: 50%;
}
